<% include ./partials/header %>

<style>
    body{
        text-align: center;
    }
</style>

<h1>
    About Toshar Ahmed
</h1>

<p>
   Much like my partner, I am also an aspiring software engineer, I want to focus on web development and building apps. 
   On my free time, I love to play videogames, exercise and watch movies. I can be reached at toshara@gmail.com
</p>

<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/53529118_1822688547836256_8568986563323625472_n.jpg?_nc_cat=100&_nc_ht=scontent-lga3-1.xx&oh=b1ea7721b36424d9e8a18fdc73f64012&oe=5D0F3393">
<% include ./partials/footer %>