<% include ./partials/header %>

<style>
    body{
        text-align: center;
    }
</style>

<h1>
    About Reudverly
</h1>

<p>
    I am an aspiring Software Engineer, who loves to solve problems and create applications for users. 
    On my free time, I usually spend it working out, reading, or playing videogames. I can be reached at dreudverly@yahoo.com
</p>

<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/15697988_1215700461848587_604026203637085840_n.jpg?_nc_cat=100&_nc_ht=scontent-lga3-1.xx&oh=7def04c8176b3b69d0c7df924f59947e&oe=5D046C00">

<% include ./partials/footer %>