<% include ./partials/header %>

<h1>Google</h1>

<form action = "/GoogleResult" method="GET">
    <input type="text" placeholder="Search Term" name="search">
    <input type="submit">
</form>


<% include ./partials/footer %>