<% include ./partials/header %>


<h1>Google Results</h1>



<input type="checkbox" id = "checkAll" onClick="toggle(this)" style="display:none" > 
<span id = "checkAlert"></span>
<form>
<input type="radio" id = "jsonCheck" name= "no" style="display:none" > 
<span id = "jsonTxt"></span>

<input type="radio" id = "csvCheck" name= "no" style="display:none" > 
<span id = "csvTxt"></span>

<input type="radio" id = "xmlCheck" name= "no" style="display:none" > 
<span id = "xmlTxt"></span>

</form>


<form onsubmit= "myFile()">
 <input type="submit" value="Download">
 <a id="downloadAnchorElem" style="display:none"></a>
</form>







<script>
     
//  var x2js = new X2JS();

var objectList =[];

 
var title = [];
var url = [];
var desc = [];
var fileInput ;
var extension ;


<% data["items"].forEach(function(searches){ %>
    
      var titles = "<%=searches["title"] %>";
      var urls = "<%=searches["link"] %>";
      var descs = "<%=searches["snippet"].replace(/(\r\n|\n|\r)/gm, "") %>"; 
    
    
    
    title.push(titles);
    url.push(urls);
    desc.push(descs); 

 <%});%>

//========================

function toggle(source) {
  checkboxes = document.getElementsByName('foo');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}

  //=============================  
  
        document.getElementById("checkAlert").innerHTML = "Check All";
        document.getElementById("checkAll").style.display = 'inline'; 
        
        document.getElementById("jsonTxt").innerHTML = "JSON";
        document.getElementById("jsonCheck").style.display = 'inline'; 
        
        document.getElementById("csvTxt").innerHTML = "CSV";
        document.getElementById("csvCheck").style.display = 'inline'; 
        
        document.getElementById("xmlTxt").innerHTML = "XML";
        document.getElementById("xmlCheck").style.display = 'inline'; 
        
    // Object is displayed based on it's inner html
// Array Dynamically creates all tags ===============
    for(var i =0; i < title.length; i++){
            var x = document.createElement("a");
            var z = x.setAttribute("id","link"+i);
            var m = x.setAttribute("href",url[i]);
            
            var hSix = document.createElement("h6");
            var hSixId = hSix.setAttribute("id", "smallLink"+i);
            
            var description = document.createElement("p");
            var descriptionId = description.setAttribute("id", "descr"+i); 
            
            var input = document.createElement("input");
            var inputId = input.setAttribute("id", "checker"+i); 
            var inputName = input.setAttribute("name", "foo");
            
            
          $('body').append(input);
          $('body').append(x);
          $('body').append(hSix);
          $('body').append(description);
    }
// =================================================================
       
         // Main displayer
         for(var i = 0; i < title.length; i++){
            objectList.push(  document.getElementById("checker"+i).innerHTML = {
            checkbox: document.getElementById("checker"+i).setAttribute("type","checkbox"),
            title: document.getElementById("link"+i).innerHTML = title[i],
            // test: x.setAttribute("href",url[i]),
            url: document.getElementById("smallLink"+i).innerHTML = url[i],
            description: document.getElementById("descr"+i).innerHTML = desc[i],
            
            })
            //document.createElement("br");
         }//endfor
         
      
     //console.log(objectList[0]);
     
        // for(var i = 0; i < objectList; i++){
        //     if(objectList[i].document.getElementById("checker"+i).checked){
        //         console.log(document.getElementById("checker"+i).title);
        //     }
        //}
        
    
    
    //}        
        
    // function downloader(){
    //             // var newDiv = document.createElement("a"); 
    //             console.log('ok ' + Object.values(checked));
    //         }
    
    //===Plan --> Create the a tags, goal is to download multiple a tags

   function myFile(){ //Downloads JSON
   
        var jsonIsChecked = document.getElementById("jsonCheck").checked; 
        var csvIsChecked = document.getElementById("csvCheck").checked; 
        var xmlIsChecked = document.getElementById("xmlCheck").checked; 
        
      
//XML START==========
       if(xmlIsChecked){
           
           
           
          var objectProp = Object.getOwnPropertyNames(objectList[0]); 
           // console.log(); // 1,2,3
           var xmlString = '<?xml version="1.0" encoding="UTF-8"?><results>'; 
           
           for(var i = 0; i < objectList.length; i++){
            if(document.getElementById("checker"+i).checked){
           xmlString+='<result>';
           xmlString+="<" + objectProp[1]+ ">" + objectList[i].title + "</" + objectProp[1] + ">";
           xmlString+="<" + objectProp[2]+ ">" + objectList[i].url + "</" + objectProp[2] + ">" ; 
           xmlString+="<" + objectProp[3]+ ">" + objectList[i].description + "</" + objectProp[3] + ">"; 
           xmlString+='</result>';
           }
           }
           xmlString+='</results>';

        var dlAnchorElem = document.getElementById('downloadAnchorElem');
        dlAnchorElem.setAttribute("href", "data:text/plain,"+encodeURIComponent(xmlString)); //Href cha
        dlAnchorElem.setAttribute("download", "XML.xml");
        dlAnchorElem.click();
            
  
        }
 

//XML  END===


//CSV START===============
    else if(csvIsChecked){
       //console.log('Working on it');
        //  var objectProp = Object.getOwnPropertyNames(objectList[0]); 
           // console.log(); // 1,2,3
           
        //   console.log(objectList[0].title + "," + objectList[0].url + "," + objectList[0].description); 
        //     alert(objectList[0]);
            
            var csvOb = '';
            
            for(var i = 0; i < objectList.length; i++)
                if(document.getElementById("checker"+i).checked)
                    csvOb +=  objectList[i].title + "," + objectList[i].url + "," + objectList[i].description + "\n"; 
                
                var csvOb2 = csvOb.trim(); 
        
            // alert(objectList[0]);
        
        var dlAnchorElem = document.getElementById('downloadAnchorElem');
        dlAnchorElem.setAttribute("href", "data:text/plain,"+encodeURIComponent(csvOb2)); //Href cha
        dlAnchorElem.setAttribute("download", "CSVFile.csv");
        dlAnchorElem.click();
  
        }

//CSV END==============
        else if(jsonIsChecked){
            var dataEr = {}//Should be an array, where each i is an object
            var appn = [];
            for(var i =0; i < objectList.length; i++)
            if(document.getElementById("checker"+i).checked)
                appn.push(objectList[i]);
                
            dataEr["Result"] = appn;
        
        var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(dataEr));
        
        var dlAnchorElem = document.getElementById('downloadAnchorElem');
        dlAnchorElem.setAttribute("href", dataStr ); //Href cha
        dlAnchorElem.setAttribute("download", "JSONFile.json");
        dlAnchorElem.click();
        }
        



   }
 

    
    
    
</script>









<% include ./partials/footer %>