<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">


<div class="row">
  <div class="col-lg-12">
  


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Coming soon</p>
  </div>
  
  
</div>
<div id = "content">
<div class= "text middle">
    <span class ="letters">S</span>
    <span class ="letters">E</span>
    <span class ="letters">A</span>
    <span class ="letters">R</span>
    <span class ="letters">C</span>
    <span class ="letters">H</span>
<!--<br>-->
<h6>Hard Coded</h6>

<!--    <input type ="text" name="" placeholder= "ff">-->
</div>

    <input id="bar" type ="text" name="" placeholder= "Basketball">
    <button class="btn btn-success"><a href="/result"><i class="fas fa-search"></i></a></button>
    </div>
    </div>
    </div>

<% include ./partials/footer %>