.container{
     padding-top: 30px;
    /*background-color: #b7cff7;*/
    /*height: 600px;*/
}

#bar {
    border-radius: 35px;
    border: 2px solid #73AD21;
    float: left;
    position: absolute;
    transform: translateY(58%);
    margin-left: 7.7%;
    margin-bottom: 100px;
    height: 8%;
    width: 30%;
    display: flex;
    justify-content: center;
}


.btn{
    
    font-size: 25px;
    transform: translateY(62%);
    margin-left: 39%;
    
}

/*.btn:hover{*/
/*    font-size: 35px;*/
    
/*}*/

.col-lg-6 a {
   
    font-size: 25px;
}


/*.btn:hover{*/
/*    font-size: 35px;*/
/*}*/